/*
    MyBooks - Gerenciador de itens para leitura

    author:     Augusto Santos
    version:    1.0
*/

@charset 'UTF-8';

#side-menu {
    height: 100vh;
    width: 60px;
    text-align: center;
    background-color: rgba(219, 219, 223, 0.596);
}

#side-menu .user-profile {
    margin: 20px 0px;
    font-size: 30px;
}

#side-menu .menu-list {
    list-style: none;
}

#side-menu .menu-item {
    font-size: x-large;
    color: black;
    padding: 10px 0px;
}

#side-menu a {
    text-decoration: none;
}

#side-menu a:link, a:visited {
    color: black;
}

#side-menu a:hover, a:active {
    color: red;
}

